<a href="https://colab.research.google.com/github/anaghaasuresh/DBMS/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
if 'print' in globals() and not callable(print):
  del print

In [31]:
name = input("enter your name:")
age = (input("enter your age:"))
print("hello", name , age)

enter your name:name
enter your age:12
hello name 12

In [33]:
x,y=1,2
print("x=",x,"y=",y)
x,y=y,x
print("x=",x,"y=",y)

x= 1 y= 2
x= 2 y= 1

In [35]:
c=input("Enter a value")
c=float(c)
f=(c*9/5)+32
print("f=",f)

Enter a value32.4
f= 90.32

In [36]:
x=21
y=10
print("x+y",x+y)

x+y 31

In [37]:
a="123"
print("integer:",int(a))

integer: 123

In [39]:
name,age=input("enter your name and age:").split()
print(name)
print(age)

enter your name and age:anagha 21
anagha
21

In [40]:
p=float(input("enter principal:"))
r=float(input("enter rate:"))
t=float(input("enter time:"))
si=(p*r*t)/100
print("simple interest:",si)

enter principal:2133
enter rate:12
enter time:21
simple interest: 5375.16

In [41]:
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
area = length * width
print("The area of the rectangle is:", area)

Enter the length of the rectangle: 12
Enter the width of the rectangle: 10
The area of the rectangle is: 120.0

In [42]:
km = float(input("Enter the distance in kilometers: "))
miles = km * 0.621371
print("The distance in miles is:", miles)

Enter the distance in kilometers: 35
The distance in miles is: 21.747985

In [43]:
char = input("Enter a character: ")
print("The ASCII value of", char, "is", ord(char))

Enter a character: a
The ASCII value of a is 97

In [44]:
num = int(input("Enter a number: "))
if num % 2 == 0:
  print(num, "is an even number.")
else:
  print(num, "is an odd number.")

Enter a number: 34
34 is an even number.

In [46]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(year, "is a leap year.")
else:
  print(year, "is not a leap year.")

Enter a year: 2004
2004 is a leap year.

In [57]:
n=int(input("enter a number:"))
for i in range(1,11):
  print(n,"*",i ,"=",n*i)

enter a number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [58]:
n=int(input("enter a number:"))
sum_of_n = 0
for i in range(1, n+1):
  sum_of_n += i
print("The sum of the first", n, "natural numbers is", sum_of_n)

enter a number:20
The sum of the first 20 natural numbers is 210

In [61]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

num = int(input("Enter a integer: "))
if num < 0:
  print("invalid input")
else:
  print("The factorial of", num, "is", factorial(num))

Enter a integer: 21
The factorial of 21 is 51090942171709440000

In [62]:
n = int(input("Enter a number: "))
if n > 1:
   for i in range(2, n):
       if (n % i) == 0:
           print(n, "is not a prime number")
           break
   else:
       print(n, "is a prime number")
else:
   print(n, "is not a prime number")

Enter a number: 13
13 is a prime number